:root {
    --bg1: #F2F2F2;
    --bg2: #3A3A3C;
    /* B5AFAA */
    --brand: #848484;
    --secundaria: #5A5A5E;
    --auxiliar: #F2F2F2;

}



body {
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    background-color: var(--bg2);
    overflow-x: hidden;
    touch-action: pan-y;
}


.intro {
    margin-bottom: 60px;
}

.intro h1 {
    margin-top: 16px;
    margin-bottom: 16px;
}


/* NAVBAR */

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
    font-weight: bold;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}



.navbar-brand {
    font-family: "Lato", serif;
    font-size: 32px;
}

#logo {
    height: 50px;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: "Tenor Sans, serif";
    color: var(--auxiliar);
}

h5 {
    font-family: "Poppins", sans-serif;
    color: #3F3F3F;
}

h3 {
    color: var(--brand);
}

a {
    color: var(--brand);
    text-decoration: none;
    transition: all 0.4s ease;
    font-family: "Lato", serif;
}

a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

#icone {
    height: 30px;
    width: 30px;
}

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    left: 1px;
}

.link-more .icon {
    transition: all 0.4s ease;
}

.link-more:hover .icon {
    transform: translateX(3px);
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}


#inicio {
    background: url(../img/Casa1.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.151);
    z-index: 1;
}

#inicio .container {
    position: relative;
    z-index: 2;
}

#inicio p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn-brand {
    background-color: transparent;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
}

.btn-brand:hover {
    background-color: white;
    color: var(--bg2);
    transition: 0.3s ease;
}


.btn-outline-brand {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    text-decoration: none;
}

.btn-outline-brand:hover {
    background-color: white;
    color: var(--bg2);
    transition: 0.3s ease;
}

.display-3 {
    margin-bottom: 30px;
}

.cta {
    color: white;
    text-decoration: none;
    font-family: "Hebbo, serif";
    display: inline-block;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        /* Inicia 20px acima */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Posição final */
    }
}


/* Estilo para a seção de respiro mais compacta */
#respiro {
    padding: 75px 0;
    background-color: var(--bg1)
}

#respiro .img-maior {
    width: 100%;
    height: 620px;
    object-fit: cover;
}

#respiro .img-menor1,
#respiro .img-menor {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-direita-top,
.img-direita-bottom {
    display: flex;
    justify-content: center;
}


/* SEÇÃO SOBRE */


#sobre {
    background-color: var(--bg1);
    padding: 60px 0;
    color: #ffffff;
    font-family: "Heebo, serif";
}

.sobre {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #F4F4F4;
}

#sobre-text {
    margin-top: 100px;
}

.sobre-h5 {
    font-size: 18px;
    font-family: "Poppins, seric";
    color: #B5AFAA;
    margin-bottom: 10px;
}

.titulo-sobre {
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--brand);
    font-family: "Tenor Sans, serif";
}

.descricao-sobre {
    font-size: 16px;
    color: #666666;
    line-height: 1.6;
}


.btn-ver-mais {
    padding: 15px 25px;
    background-color: #848484;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
    font-family: "Heebo, serif";
    display: inline-block;
}

.btn-ver-mais:hover {
    background-color: #F2F2F2;
    color: #848484;
    cursor: pointer;
    border: 2px solid #848484;
}


.imagem-sobre {
    width: 100%;
    border-radius: 8px;
}


/* Estilo da seção */
#servicos {
    background-color: #B5AFAA;
    padding: 60px 0;
    color: #ffffff;
    font-family: "Heebo, serif";
}

.etapas {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #F4F4F4;

}

.titulo-secao {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Tenor Sans, serif";

}

.descricao-secao,
.detalhes-secao {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;

}

.servicos-lista {
    margin-top: 20px;
    margin-bottom: 20px;
}

.servico-item {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 15px;

}

.numero {
    font-size: 70px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    margin-right: 15px;
    font-family: "Lato", serif;
}

.btn-orcamento {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;

}

.btn-orcamento:hover {
    background-color: #ffffff;
    color: #d0c7c2;

}



[data-scroll] {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 1 ease, transform 1s ease;
}

/* Animação ao rolar a tela */
[data-scroll].visible {
    opacity: 1;
    transform: translateX(0);
}

.imagem-secao {
    width: 100%;
    border-radius: 8px;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1.4s ease, transform 1.4s ease;
}

/* Ocultar imagem em telas menores */
@media (max-width: 768px) {
    .imagem-secao {
        display: none;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }


}

@media (max-width: 991px) {
    .imagem-secao {
        display: none;
    }

    #servicos-text+.col-lg-5 .btn-orcamento {
        margin-top: 20px;
        display: block;
        align-self: flex-start;
        opacity: 1;
        transform: translateX(0);
        align-self: center;
        text-align: center;

    }


    .btn-ver-mais {
        margin-top: 20px;
        display: block;
        align-self: flex-start;
        opacity: 1;
        transform: translateX(0);
        align-self: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .img-menor1 {
        margin-top: 20px;
    }
}